extends layouts/main.pug
include mixins/videoBlock

block content
    .search__header
        h3 Searching for: #{SearchingBy}
    .search__videos
        each item in homeVideos
            +videoBlock({
                title:item.title,
                views: item.views,
                videoFile: item.videoFile
            })